[submodule "themes/float"]
	path = legacy/themes/float
	url = https://gitlab.com/float-theme/float.git
[submodule "themes/anpu"]
	path = legacy/themes/anpu
	url = https://github.com/zbrox/anpu-zola-theme
[submodule "themes/anatole"]
	path = legacy/themes/anatole
	url = git@github.com:mushogenshin/anatole-zola.git
