{% extends "basic.html" %}

{% block content %}
<article class="post animated fadeInDown">
  <h1><a href="{{ section.permalink }}"> Unreal C++ After Python and Rust </a></h1>
  <div class="post-content">{{ section.content | safe }}</div>
</article>
<ul>
  <!-- If you are using pagination, section.pages will be empty. You need to use the paginator object -->
  {% for page in section.pages %}
  <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
  {% endfor %}
</ul>
{% endblock content %}
